body{
  margin: 0px;
  padding: 0px;
  text-align:center;
}
section{
  margin: 0px;
  padding: 40px;
  background: repeating-linear-gradient(
    45deg,
    #6a0dad,          /* 濃いむらさき（ベース） */
    #6a0dad 40px,
        #7f00ff 40px,     /* 青っぽいむらさき */
        #7f00ff 60px,
        #ffff00 60px,     /* 黄色 */
        #ffff00 80px,
        #00ff00 80px,     /* 緑 */
        #00ff00 100px
      );
  /* height: device-Height;
     width: device-Width; 
     set with JS */
}
input{
  font-size: 24px;      /* テキストを大きく */
  padding: 15px 40px;   /* ボタン自体を大きく */
  background-color: #ffffffdd; /* 緑色の背景 */
  color: #333;         /* 白い文字 */
  border: none;         /* 枠線なし */
  border-radius: 8px;   /* 角を丸く */
  cursor: pointer;      /* マウスポインタを変える */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

p#output{}
/* others set with JS */
